/**********************************************************************************************

    1. BASE
            1.1 Reset
            1.2 Default Styles
    
    2. COMMON
            2.1 Wrapper
            2.2 Header
            2.3 Main
            2.4 Content
            2.5 Sidebar
            2.6 Footer
      
    3. PAGES
            3.1 Home page
            3.2 Subpage
      
    4. BROWSER FIXES
            4.1 IE7 Fix

***********************************************************************************************/




/* 1. BASE
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 1.1 Reset
-----------------------------------------------------------------------------------------------*/

html, body, div, span, img, p, a, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li,

small, strong,

iframe, article, aside, footer, header,
nav, section, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, nav, section { display:block; }


/* 1.2 Default Styles
-----------------------------------------------------------------------------------------------*/
body { background:#636363 url("../img/bg_repeat.png") repeat-x; color:#FFF; font-family:Verdana, Geneva, sans-serif; font-size:62.5%; line-height:1; } /* font-size set to 62.5% makes 2.4em==24px, 1.5em==15px */
body.subpage { background:#FFF url("../img/subpage_bg_repeat.png") repeat-x; color:#262626; }

h1, h2, h3, h4, h5, h6 { font-weight:bold; }
a { color:#FF5400; outline:none; text-decoration:none; }
a:hover, a:active { text-decoration:underline; }
ul { list-style:none; overflow:hidden; }
li { line-height:1.25em; }
p { line-height:1.273em; }
strong { font-weight:bold; }
input { font:99% sans-serif; vertical-align:middle; }






/* 2. COMMON
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 2.1 Wrapper
-----------------------------------------------------------------------------------------------*/
.bg-image { background:url("../img/bg_image.jpg") no-repeat center top; margin:0 auto; width:100%; }
#wrapper { margin:0 auto; width:1100px; }

/* 2.2 Header
-----------------------------------------------------------------------------------------------*/
header { font-size:1.2em; color:#FF5400; overflow:hidden; padding:13px 0 0; }
header ul { float:right; }
header li { float:left; }

header section { height:37px; }
header section p { color:#BABABA; float:left; }
header section ul { float:right; list-style:none; }
header section li { margin:0 0 0 8px; }

header nav { margin:63px 0 0; }
header nav li { font-size:1.5em; margin:0 0 0 50px; }


/* 2.3 Main
-----------------------------------------------------------------------------------------------*/
#main { margin:300px 0 12px; overflow:hidden; }


/* 2.4 Content
-----------------------------------------------------------------------------------------------*/
#content { font-size:1.1em; float:left; width:800px; }
#content a { font-size:1.091em; }
#content article { margin:25px 0 0;}
#content article span { color:#ADADAD; display:block; float:left; height:100%; width:65px; }
#content article p { margin:3px 25px 0 65px; }
#content article p a { font-size:1em; font-weight:normal; }
#content ul { margin:180px 0 48px 65px; }
#content li { float:left; margin:0 0 0 10px; }
#content li.first { margin:0; }
#content li.previous, #content li.last { margin:0 0 0 20px; }
#content li a { font-size:1em; font-weight:bold; }


/* 2.5 Sidebar
-----------------------------------------------------------------------------------------------*/
aside { float:right; padding:0 0 0 40px; width:260px; }
aside strong { color:#201D1F; display:block; font-size:1.4em; margin:0 0 13px; }
aside .social { background:url("../img/sprites.png") -200px -150px; height:65px; margin:0 0 17px; padding:15px 17px; }
aside .social strong { color:#FFF; }
aside .social a { background-image:url("../img/sprites.png"); background-repeat:no-repeat; display:block; float:left; height:32px; margin:0 0 0 20px; text-indent:-999em; width:32px; }
aside .twitter { background-position:0 -150px; margin-left:0; }
aside .linkedin { background-position:-53px -150px; }
aside .facebook { background-position:-106px -150px; }
aside .youtube { background-position:-158px -150px; }

aside .newsletter { background:#FFF; padding:12px 17px; }
aside .newsletter p { color:#3C3C3C; }
aside .newsletter input { display:block; border:none; height:27px; }
aside .newsletter input[type="text"] { background:#CBCBCB; margin:13px 0; width:226px; }
aside .newsletter input[type="submit"] { background:#FF5400 url("../img/sprites.png") 0 -225px; color:#FFF; font-size:1.1em; font-weight:bold; padding:0 22px 0 0; width:100px; }
aside .newsletter input[type="submit"]:hover { text-decoration:underline; }


/* 2.6 Footer
-----------------------------------------------------------------------------------------------*/
footer { font-size:1.1em; padding:0 0 120px; }
footer li { color:#FF5400; float:left; margin:0 9px 6px 0; }
footer .sponsors { margin:50px 0 0; }
footer .sponsors li { background-image:url("../img/sprites.png"); background-repeat:no-repeat; height:47px; margin:0 0 0 28px; text-indent:-999em; }
footer .sponsors li:first-child { margin:0; }
footer .logo1 { background-position:0 0; width:117px; }
footer .logo2 { background-position:-145px 0; width:112px; }
footer .logo3 { background-position:-284px 0; width:79px; }
footer .logo4 { background-position:-392px 0; width:116px; }
footer .logo5 { background-position:-535px 0; width:120px; }
footer .logo6 { background-position:-682px 0; width:110px; }
footer .logo7 { background-position:-819px 0; width:123px; }
footer .logo8 { background-position:-969px 0; width:122px; }
footer .logo1:hover { background-position:0 -48px; }
footer .logo2:hover { background-position:-145px -48px; }
footer .logo3:hover { background-position:-284px -48px; }
footer .logo4:hover { background-position:-392px -48px; }
footer .logo5:hover { background-position:-535px -48px; }
footer .logo6:hover { background-position:-682px -48px; }
footer .logo7:hover { background-position:-819px -48px; }
footer .logo8:hover { background-position:-969px -48px; }





/* 3. PAGES
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 3.1 Home page
-----------------------------------------------------------------------------------------------*/
#features { font-size:1.1em; font-weight:bold; margin:125px 0 21px; overflow:hidden; }
#features div { background:url("../img/sprites.png") -475px -150px; float:left; height:222px; margin:0 0 0 20px; overflow:hidden; position:relative; width:260px; }
#features div:first-child { margin:0; }
#features div.has-bg { background:#FFF none; }
#features div a { display:block; margin:10px 0 1px 17px; }
#features div .title { margin:13px 0 0 17px; }
#features div .more { background:url("../img/sprites.png") -635px -150px; color:#FFF; right:0; height:20px; margin:0; padding:7px 0 0 19px; position:absolute; top:0; width:81px; }
#features div img { margin:13px 1px 0; }
#features div.has-bg img { margin:13px 0 0; }
#features div p { font-weight:normal; margin:0 17px; }
#features div.has-bg p { color:#262626; }


/* 3.2 Subpage
-----------------------------------------------------------------------------------------------*/
.subpage .bg-image { background-image:url("../img/subpage_bg_image.jpg"); }

.subpage #content h1 a { background:url("../img/sprites.png") 0 -200px; display:block; height:19px; text-indent:-999em; width:135px; }
.subpage #content article span { color:#262626; }

.subpage aside { padding:22px 0 0; width:300px; }
.subpage aside .social { background-image:none; margin-top:17px; }
.subpage aside .social strong { color:#262626; }
.subpage aside .newsletter { background:#FF5400; }
.subpage aside .newsletter input[type="text"] { background:#FFF; width:266px; }
.subpage aside .newsletter input[type="submit"] { background:#262626 url("../img/sprites.png") 0 -225px; }

.subpage footer .logo1 { background-position:0 -95px; }
.subpage footer .logo2 { background-position:-145px -95px; }
.subpage footer .logo3 { background-position:-284px -95px; }
.subpage footer .logo4 { background-position:-392px -95px; }
.subpage footer .logo5 { background-position:-535px -95px; }
.subpage footer .logo6 { background-position:-682px -95px; }
.subpage footer .logo7 { background-position:-819px -95px; }
.subpage footer .logo8 { background-position:-969px -95px; }
.subpage footer .logo1:hover { background-position:0 -48px; }
.subpage footer .logo2:hover { background-position:-145px -48px; }
.subpage footer .logo3:hover { background-position:-284px -48px; }
.subpage footer .logo4:hover { background-position:-392px -48px; }
.subpage footer .logo5:hover { background-position:-535px -48px; }
.subpage footer .logo6:hover { background-position:-682px -48px; }
.subpage footer .logo7:hover { background-position:-819px -48px; }
.subpage footer .logo8:hover { background-position:-969px -48px; }






/* 4. IE FIX
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 4.1 IE7 fix
-----------------------------------------------------------------------------------------------*/
.ie7 footer p { margin:8px 0 0; }
