﻿/**********************************************************************************************

    1. BASE
            1.1 Reset
            1.2 Default Styles
    
    2. COMMON
            2.1 Core
            2.2 Header
            2.3 Main
            2.4 Content
            2.5 Sidebar
            2.6 Footer
      
    3. PAGES
            3.1 Home page
            3.2 Portfolio
            3.3 Reference
            3.4 FAQ
            3.5 Contact
            3.6 About Us
            3.7 Psd
            3.8 Hire

    4. BROWSER FIXES
            4.1 IE7 Fix
            4.2 IE8 Fix
    
    5. PLUGINS
            5.1 Colorbox

***********************************************************************************************/



/* 1. BASE
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 1.1 Reset
-----------------------------------------------------------------------------------------------*/

html, body, div, span, img, p, a, h1, h2, h3, h4, h5, h6, ul, li,
form, label, blockquote, pre, abbr, acronym, address, cite, code,
small, strong, object,

article, aside, figure, figcaption, footer, header, iframe,
nav, section {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, footer, header, nav, section { display:block; }


/* 1.2 Default Styles
-----------------------------------------------------------------------------------------------*/
body { background:#FDFDFD url("../img/noise.png"); color:#8C8C8C; font-size:62.5%; font-family:"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,sans-serif; line-height:1.5em; }
/* font-size set to 62.5% makes 2.4em==24px, 1.5em==15px */

h1, h2, h3, h4, h5, h6 { font-family:'Paytone One',arial,serif; line-height:1.1em; text-shadow:#FFF 1px 1px 1px; }
a { color:#00D0DA; outline:none; text-decoration:none; }
a:hover, a:active { color:#A3CF00; outline:none; text-decoration:none; }
strong { color:#6A6A6A; font:1.3em/1.1em 'Paytone One', arial, serif; display:block; margin:20px 0 5px; text-shadow:#FFF 1px 1px 1px; }
ul { list-style:none; }

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }
abbr { border-bottom:.1em dotted; cursor:help; }

/* abbr and tooltip */
strong abbr, h3 abbr, h4 abbr { color:#A3CF00; border:none; }
strong .tooltip, h3 .tooltip, h4 .tooltip { font:normal 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Arial,Helvetica,sans-serif; }
.tooltip { background-color:#A3CF00; border:1px solid #DDD; color:#FFF; padding:8px ; position:absolute; text-shadow:none; width:160px; z-index:12;
            -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
            -webkit-box-shadow:#CCCCCC 2px 2px 10px; -moz-box-shadow:#CCCCCC 2px 2px 10px; box-shadow:#CCCCCC 2px 2px 10px; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css */
input, textarea { font:99% sans-serif; margin:0; outline:none; } /* Webkit browsers add a 2px margin outside the chrome of form elements */
input[type="submit"], input[type="file"] { cursor:pointer; }





/* 2. COMMON
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 2.1 Core
-----------------------------------------------------------------------------------------------*/
#wrapper { font-size:1.1em; margin:0 auto; width:900px; }
#main { overflow:hidden; }


/* 2.2 Header
-----------------------------------------------------------------------------------------------*/
header { background:#FDFDFD url("../img/noise.png"); height:90px; left:50%; margin-left:-450px; position:absolute; top:0; width:900px; z-index:9; }
header p { font:bold 4.5em/1em 'Jura', sans-serif; margin:18px 0 0; text-shadow:#FFF 1px 1px 1px; }
header p a { color:#A3CF00; }
header p a:hover { color:#CCC; text-decoration:none; }
header p a span { color:#888; }
header code { color:#A8A8A8; font:normal 1.2em/1em 'Courier New', Courier, monospace; margin:0 0 0 3px; text-shadow:#FFF 1px 1px 1px; }
/* top fading effect */
header .fade { border-top:2px solid #DDDDDD; height:40px; left:2px; position:absolute; top:90px; width:898px; }
header .fade ul, header .fade div { float:right; margin:-85px 0 0; }
header .fade div { margin-right:100px; }
header .fade li { display:inline; margin:0 0 0 15px; }

/* Main menu */
header nav { bottom:14px; position:absolute; right:0; }
nav li { background:#666; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
            -webkit-box-shadow:#CCCCCC 1px 1px 4px; -moz-box-shadow:#CCCCCC 1px 1px 4px; box-shadow:#CCCCCC 1px 1px 4px;
            behavior:url("/js/PIE.php");
}
nav li.active, nav li:hover { background:#A3CF00;
                                -webkit-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3); -moz-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3); box-shadow:inset 1px 1px 5px rgba(0,0,0,0.3);}
header nav li { float:left; margin-left:10px; }
header nav li a { display:block; padding:5px 12px 6px; }
nav li a, nav li a:hover { color:#FFF; }


/* 2.3 Sidebar
-----------------------------------------------------------------------------------------------*/
aside { margin:0 0 0 745px; position:fixed; padding:0 0 0 35px; top:110px; width:120px; }
#logo { display:block; margin: 25px 0 0; }
aside p { margin:40px 0 0; }
aside strong { margin:0 0 6px; }
aside p a{ font-size:1.2em; text-shadow:#E8E8E8 1px 1px 3px; }
aside li { margin:10px 0; }
aside li:hover { background:#A3CF00; }
aside li a { display:block; padding:5px 10px 6px; }


/* 2.4 Content
-----------------------------------------------------------------------------------------------*/
#content { padding:90px 0 0; width:730px; }
article { float:left; padding:35px 0 200px 4px; position:relative; }
h1, h2 { color:#616161; font-size:3.8em; margin-bottom:40px; word-spacing:0.1em; }
h1 span, h2 span { color:#00D0DA; display:inline; font:inherit; margin:0; text-shadow:inherit; }
h3 { color:#6A6A6A; font-size:2em; }
h3 span { color:#00D0DA; }


/* 2.5 Footer
-----------------------------------------------------------------------------------------------*/
footer { background:#FDFDFD url("../img/noise.png"); border-top:2px solid #DDDDDD; bottom:0; height:28px; position:relative; width:900px; }
footer p { color:#888; font-size:1.1em; margin:46px 0 0; width:900px; }
footer .fade { height:40px; position:absolute; bottom:30px; }
footer span { color:#00D0DA; float:right; margin:0 10px; }
footer a { float:right; }





/* 3. PAGES
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 3.1 Home page
-----------------------------------------------------------------------------------------------*/
.front aside nav { margin:45px 0 -10px; }

article .look { float:left; margin:0 46px 0 0; width:310px; }
.look h3 { text-align:center; }
.look .window { background:url("../img/sprites.png"); border:1px solid #DDD; border-top:1px solid #d9d9d9; border-left:1px solid #d9d9d9; display:block; height:230px; margin:22px 0 0 2px;
                -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
				-webkit-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.4); -moz-box-shadow:inset 1px 1px 5px rgba(0,0,0,0.4); box-shadow:inset 1px 1px 5px rgba(0,0,0,0.4);
                behavior:url("/js/PIE.php");
}
.look .window:hover { background-position:0 -230px; }
.right.look .window { background-position:-310px 0; }
.right.look .window:hover { background-position:-310px -230px; }

.box { background:#FFF; border:1px solid #DDD; float:left; height:110px; margin:10px 0 20px 31px; padding:16px 18px 22px; overflow:hidden; position:relative; width:180px;
        -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
        -webkit-box-shadow:#ABB 2px 2px 10px; -moz-box-shadow:#ABB 2px 2px 10px; box-shadow:#ABB 2px 2px 10px;
        behavior:url("/js/PIE.php");
}
.box:hover { -webkit-box-shadow:#00D0DA 2px 2px 15px; -moz-box-shadow:#00D0DA 2px 2px 15px; box-shadow:#00D0DA 2px 2px 15px; behavior:url("/js/PIE.php"); }
.left.box { clear:left; margin-left:3px; }   
.box strong { display:block; margin:0 0 9px; }
.box h3 { font-size:1.3em; line-height:1.1em; margin:0 0 9px; text-shadow:#E8E8E8 1px 1px 1px; }
        
article#order .box { height:135px; }


/* 3.2 Portfolio
-----------------------------------------------------------------------------------------------*/
.portfolio aside nav { margin-top:49px; }
.portfolio figure { float:left; width:470px; }
.portfolio figure img { margin:25px 0 15px 10px; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; behavior:url("/js/PIE.php"); }
.portfolio figure img, .portfolio .files a { -webkit-box-shadow:#ABB 2px 2px 12px; -moz-box-shadow:#ABB 2px 2px 12px; box-shadow:#ABB 2px 2px 12px; behavior:url("/js/PIE.php"); }
.portfolio .files a:hover { -webkit-box-shadow:#00D0DA 2px 2px 15px; -moz-box-shadow:#00D0DA 2px 2px 15px; box-shadow:#00D0DA 2px 2px 15px; behavior:url("/js/PIE.php"); }
    
.portfolio section { float:left; padding:0 0 0 18px; }
.portfolio .files { overflow:hidden; }
.portfolio .files a { background:#FFF; border:1px solid #ddd; color:#8C8C8C; display:block; float:left; font-weight:bold; line-height:3.5em; margin:6px 9px 6px 7px; text-align:center; width:60px;
                            -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; behavior:url("/js/PIE.php"); }
.portfolio section p { margin:0 0 0 7px; }
.portfolio .files a.zip { margin:0 auto; }

/* 3.3 Reference
-----------------------------------------------------------------------------------------------*/
.reference .last { margin:0 0 50px; }
.reference figure { display:inline-block; height:200px; margin:0 35px 50px 0; vertical-align:top; width:204px; }
.reference figure p { text-align:center; }
.reference figure a { border:2px solid #ddd; display:table-cell; height:140px; padding:5px; text-align:center; vertical-align:middle; width:190px;
                            -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; behavior:url("/js/PIE.php"); }

/* 3.4 FAQ
-----------------------------------------------------------------------------------------------*/
.faq article h3 { font-size:2.8em; text-align:left; text-shadow:#FFF 1px 1px 1px; }
.faq h4 { color:#6A6A6A; font:1.3em/1.1em 'Paytone One', arial, serif; margin:20px 0 5px; text-shadow:#FFF 1px 1px 1px; }
table { border:1px solid #CCC; margin:15px 0 0; padding:15px; }
thead th { padding:0 0 20px; }
th { text-align:left; }
td { padding:0 30px 0 5px; }
tfoot { font-weight:bold; }
tfoot th { padding:15px 0 0; }


/* 3.5 Contact
-----------------------------------------------------------------------------------------------*/
#contact { color:#888; font-family:'Trebuchet MS'; overflow:hidden; width:570px; }
#contact section.text { float:left; width:314px; }
#contact section.text input[type="text"] { width:240px; }
#contact section.radio { margin:50px 0 30px; text-shadow:1px 1px 0 #fff; }
#contact .address { float:left; }
#contact strong { margin:0 0 30px; }
#contact p { font-size:1.2em; margin:5px 0 9px; }
#contact span.error { background:transparent; clear:both; color:#F75; display:block; font-weight:normal; }

/* radio buttons */
#contact .radio div { height:52px; margin:7px 0 13px; }
#contact span { display:block; font: 1.2em/1.1em 'Paytone One', arial, serif; margin:0 0 6px; padding:4px 0; }
#contact label { margin:0 16px 0 0; }

/* email */
input[type="text"] { display:block; margin:0 27px 15px 0; padding:6px 4px 7px 14px; width:300px; }

/* choose file */
#contact label.input-file { cursor:pointer; display:block; font-weight:bold; margin:7px 0 15px; padding:6px 9px 7px 9px; position:relative; }
#contact label.input-file.uploading { background:#F75; }
#contact label.input-file.uploading small{ color:#fff; font-size:1.2em; font-weight:bold; padding-left:10px; text-align:left; }
#contact label.input-file small { display:block; font-size:0.9em; font-weight:normal; text-align:center; }
#contact .upload-img { bottom:6px; display:none; position:absolute; right:40px; }

input[type="file"] { cursor:pointer; left:-125px; position:absolute;
					-moz-transform:translate(-93px,0) scale(8); -o-transform:translate(310px,0) scale(3);
					-moz-opacity:0; filter:alpha(opacity:0); opacity:0; }
#fileList { margin:0 0 15px; }
#fileList li:first-child { font-weight:bold; }

/* textarea */
textarea { display:block; margin:7px 0 20px; overflow-y:hidden; /* hide vertical scrollbar in IE */ padding:6px 4px 11px 14px; width:548px; }

/* submit button */
input[type="submit"] { background:url("../img/submit_btn.png") no-repeat; border:none; color:#FFF; float:right; font-weight:bold; height:25px; width:100px; }
input[type="submit"]:hover { background-position:0 -25px; }

input[type="text"], label.input-file, textarea { background:#FCFDFD; border:2px solid #D8D8D8; clear:both;
														-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
input[type="text"]:hover, textarea:hover, label.input-file:hover,
input[type="text"]:focus, textarea:focus, label.input-file:focus { border-color:#00D0DA; }
#contact span.success { background:#A3CF00; color:#FFF; font-size:1.6em; margin:0 0 25px; padding:20px; text-align:center; text-shadow:none; }
#contact span.success.error { background:#F75; color:#FFF; }

#contact .error { color:#F75; display:none; font-weight:bold; }
#contact .needsfilled { background:#F75 !important; color:white !important; }

.price { left:414px; position:absolute; top:347px; width:160px; }
.price dt { float:left; font:1.2em/1.1em 'Paytone One', arial, serif; margin:0 0 14px; }
.price dd { float:left; line-height:25px; margin:-31px 0 0; text-align:right; width:100%; }
.price .pages { float:right; margin:0; padding:2px 5px 2px 0; text-align:right; width:20px; }
.price .total { font-size:1.2em; font-weight:bold; margin-right:5px; }


/* 3.6 About Us
-----------------------------------------------------------------------------------------------*/
.about-us .person { margin:0 50px 150px 0; overflow:hidden; width:550px; }
.about-us img { border:4px outset #ccc; float:left;
                -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.about-us section { float:right; }
.about-us section span { color:#A3CF00; }
.about-us strong { margin:10px 0 20px; }
.about-us ul li { font-size:1.1em; margin:4px 0; }
.about-us .right section { float:left; }
.about-us .right img { float:right; }


/* 3.7 Psd
-----------------------------------------------------------------------------------------------*/
#psd strong { display:inline; font:inherit; font-weight:bold; margin:0; }
#psd h3, #psd p { padding:0 0 20px; width:580px; }


/* 3.8 Hire
-----------------------------------------------------------------------------------------------*/
.hire h4 { color:#6A6A6A; font:1.3em/1.1em 'Paytone One', arial, serif; margin:20px 0 5px; text-shadow:#FFF 1px 1px 1px;  }
.hire ul { margin:10px 0 0 10px;  }





/* 4. IE FIX
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 4.1 IE7 fix
-----------------------------------------------------------------------------------------------*/
.ie7 footer a, .ie7 footer img, .ie7 footer span { margin-top:-15px; }
.ie7 .look .window { -webkit-box-shadow:#CCC -1px -1px 15px; -moz-box-shadow:#CCC -1px -1px 10px; box-shadow:#CCC 0 0 15px;}


/* 4.2 IE8 fix
-----------------------------------------------------------------------------------------------*/
.ie8 .look .window { -webkit-box-shadow:#CCC -1px -1px 15px; -moz-box-shadow:#CCC -1px -1px 10px; box-shadow:#CCC 0 0 15px;}






/* 5. PLUGINS
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 5.1 Plugins
-----------------------------------------------------------------------------------------------*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/colorbox/overlay.png) repeat 0 0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../img/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../img/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../img/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../img/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../img/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../img/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}