/**********************************************************************************************

    1. BASE
            1.1 Reset
            1.2 Default Styles
    
    2. COMMON
            2.1 Wrapper
            2.2 Header
            2.3 Sidebar
            2.4 Main
            2.5 Content
            2.6 Footer
      
    3. PAGES
            3.1 Home page
            3.2 Work
            3.3 About
            3.4 Contact
      
    4. IE FIXES
            4.1 IE7 Fix
            4.2 IE8 Fix

***********************************************************************************************/




/* 1. BASE
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 1.1 Reset
-----------------------------------------------------------------------------------------------*/

html, body, div, span, img, p, a, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,

blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var, object,

applet, u, center, strike, iframe,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }


/* 1.2 Default Styles
-----------------------------------------------------------------------------------------------*/
body { color:#ABABAB; font-family:Georgia, serif; font-size:62.5%; line-height:1; } /* font-size set to 62.5% makes 2.4em==24px, 1.5em==15px */
a { text-decoration:none; }
a:hover, a:active { outline:none; }
ul { list-style:none; }


/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/
@font-face {
    font-family:'Century Gothic';
    src:url('century_gothic.eot');
    src:local('˘'),
        url('century_gothic.ttf') format('truetype');
}




/* 2. COMMON
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 2.1 Wrapper
-----------------------------------------------------------------------------------------------*/
#wrapper { margin:0 auto; position:relative; width:960px; }


/* 2.2 Header
-----------------------------------------------------------------------------------------------*/
header { height:90px; position:relative; }
header img { position:absolute; right:0; top:35px; }


/* 2.3 Sidebar
-----------------------------------------------------------------------------------------------*/
aside { font-family:'Century Gothic',Futura,'URW Gothic L',sans-serif; left:0; position:absolute; width:260px; }
aside nav ul { margin:130px 0 0; }
aside nav ul li a { color:#ABABAB; font-size:4.8em; }
aside nav ul li a:hover, aside nav ul li a:active, aside nav ul li a.active { color:#8BC239; }


/* 2.4 Main
-----------------------------------------------------------------------------------------------*/
#main { margin:0 0 0 260px; width:700px; }


/* 2.5 Content
-----------------------------------------------------------------------------------------------*/
#content { color:#6B6B6B; min-height:460px; padding:20px 0; }
#content img { margin:0 0 6px 6px; }
#content img.no-margin { margin-left:0; }
#content p { line-height:1.25em; }


/* 2.6 Footer
-----------------------------------------------------------------------------------------------*/
footer { font-size:1.2em; font-weight:700; line-height:1.2em; padding:0 0 20px; overflow:hidden; }
footer div { float:left; margin:0 0 0 20px; width:160px; }
footer div:first-child { margin:0; }
footer a { color:#46CEFF; }
footer p { margin:10px 0 0; }
footer img { margin:0 0 0 32px; }




/* 3. PAGES
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 3.1 Home page
-----------------------------------------------------------------------------------------------*/
.front-page #content { background:url("../img/background.jpg") right top no-repeat; }


/* 3.2 Work
-----------------------------------------------------------------------------------------------*/
#content ul { background:#E6E6E6 url("../img/category_arrow.png") right top no-repeat; margin:10px 0 8px; width:169px; }
#content ul li { display:none; }
#content ul li:first-child { display:block; }
#content ul li a { display:block; color:#7D7D7D; font-size:1.2em; line-height:20px; padding:0 0 0 3px; }
#content .vimeo-title { color:#666; font-size:2.4em; line-height:1em; }
#content .btn { background:#EFEFEF; color:#666; font-size:1.4em; padding:3px 5px 5px; position:absolute; right:0;
                -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#content .back { right:50px; }
#content iframe { margin:3px 0 10px; }
#content figcaption { font-size:1.2em; line-height:1.25em; margin:0 0 6px; }
#content .images { background:#EFEFEF; border-bottom:1px solid #E6E6E6; display:block; font-size:2.4em; line-height:1.25em; padding:0 0 0 9px; }


/* 3.3 About
-----------------------------------------------------------------------------------------------*/
.about #content { background:url("../img/background_trans.jpg") right top no-repeat; }
.about #content p { color:#ABABAB; font-size:2.3em; margin:95px 0 0; text-align:right; }
.about #content p strong { color:#666; line-height:1.25em; }


/* 3.4 Contact
-----------------------------------------------------------------------------------------------*/
.contact #content { background:url("../img/background_trans.jpg") right top no-repeat; }
.contact #content p { color:#666; font-size:2.3em; margin:115px 160px 0 0; text-align:right; }




/* 4. IE FIX
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 4.1 IE7 fix
-----------------------------------------------------------------------------------------------*/


/* 4.2 IE8 fix
-----------------------------------------------------------------------------------------------*/