/**********************************************************************************************

    1. BASE
            1.1 Reset
            1.2 Default Styles
    
    2. COMMON
            2.1 Wrapper
            2.2 Header
            2.3 Slider
            2.4 Content
            2.5 Footer
      
    3. PAGES
            3.1 Home page
            3.2 Content
            3.3 Login
            3.4 Forgot Pass
      
    4. BROWSER FIXES
            4.1 IE7 Fix
            4.2 IE9 Fix
            4.3 Firefox 4+ fix
    
    5. PLUGINS
            5.1 Colorbox

***********************************************************************************************/



/* 1. BASE
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 1.1 Reset
-----------------------------------------------------------------------------------------------*/

html, body, div, span, img, p, a, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,

blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var, object,

applet, u, center, strike, iframe,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }


/* 1.2 Default Styles
-----------------------------------------------------------------------------------------------*/
body { font-size:62.5%; font-family: Arial, Helvetica, sans-serif; line-height:1; color:#000000; } /* font-size set to 62.5% makes 2.4em==24px, 1.5em==15px */
a { color:#000000; text-decoration:none; }
a:hover, a:active { outline:none; }
ul { list-style:none; }
input { border:none; }
input.form { border:1px solid gray; color:black; }
input[type="submit"] { cursor:pointer; }
textarea { resize:none; max-width: 400px; max-height: 800px }
textarea.form { border:1px solid gray; color:black; }
hr { background:#898989; border:none; height:1px; }




/* 2. COMMON
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 2.1 Wrapper
-----------------------------------------------------------------------------------------------*/
#wrapper-top { background:url("../img/header_bg.png") repeat-x; height:526px; }
#wrapper-bottom { background:url("../img/footer_bg.png"); height:382px; }


/* 2.2 Header
-----------------------------------------------------------------------------------------------*/
header { background:url("../img/header_line.png") no-repeat bottom center; height:127px; margin:0 auto; overflow:hidden; padding:14px 122px 0; width:960px; }
    #logo { float:left; }
    header ul, header form { float:right; }
        header li { float:left; margin:0 0 0 24px; }
    #login-menu { font-size:1.4em; }
    header form { clear:right; }
        header input[type="text"] { background:url("../img/search_bg.png") no-repeat; height:17px; padding:5px 10px; margin:14px 9px 17px 0; width:201px; }
        header input[type="submit"] { background:url("../img/search_icon.png") no-repeat; height:19px; text-indent:-9999px; width:19px; }
    nav { clear:right; font-size:1.7em; font-weight:bold; }
        nav li a { padding:0 0 36px; }
        nav li:hover > .drop-menu { display:block; }
            nav li:hover > span { background:url("../img/path.png") no-repeat center bottom; display:block; height:10px; position:absolute; top:139px; width:21px; z-index:5; }
            nav .drop-menu { background:url("../img/dropmenu_bg.png") no-repeat center bottom; display:none; left:50%; margin:0 0 0 -487px; padding:0 0 25px; position:absolute; top:141px; width:973px; z-index:4; } 
                .drop-menu p { color:#7bb6db; font-size:1.1em; font-style:italic; left:26px; position:absolute; top:22px; }
                .drop-menu li { float:left; margin:0 0 0 26px; width:289px; }
                    .drop-menu li a { color:#d4e4ee; font-size:0.7em; width:267px; }
                    .drop-menu li a:hover { color:#ffffff; }
                        .drop-menu ul li { float:none; height:27px; margin:0; }
                        .drop-menu ul li:first-child { margin:56px 0 0; }
                            .drop-menu ul li a { background:url("../img/level1.png") no-repeat; display:block; padding:0 0 7px 22px; }
                                .drop-menu ul ul li { float:none; height:27px; }
                                .drop-menu ul ul li:first-child { margin:8px 0 0; }
                                    .drop-menu ul ul li a { background:url("../img/level2.png") no-repeat; display:block; padding:0 0 7px 44px; width:245px; }
                                    .drop-menu ul ul li a.active { background:url("../img/level2_active.png") no-repeat; }


/* 2.3 Slider
-----------------------------------------------------------------------------------------------*/
#slider { height:385px; margin:0 auto; position:relative; width:960px; }
    #slider .items { height:385px;}
    #slider .items .item { position:absolute; display:none;}
    #slider ul { background:url("../img/slider_bg.png"); bottom:0; height:30px; left:-14px; padding:12px 0; position:absolute; text-align:center; width:189px; }
        #slider ul li { display:inline; margin:0 5px; }
            #slider ul li a { color:#FFFFFF; font:3em Georgia, serif; }
            #slider ul li.active a { color:#0077C0; }


/* 2.4 Content
-----------------------------------------------------------------------------------------------*/
#main { margin:0 auto; overflow:hidden; width:973px; }
    #main p:first-child { color:#000000; font-family:Georgia, serif; font-weight:bold; }
    #main p { color:#797979; font-size:1.2em; line-height:1.7em; }
    #main ul { font-size:1.7em; height:143px; margin:0 0 10px; padding:15px 0 20px; }
        #main li { background:url("../img/blue_list_circle.png") no-repeat left center; line-height:1.4em; padding:0 0 0 20px; }


/* 2.5 Footer
-----------------------------------------------------------------------------------------------*/
footer { color:#a8a8a8; margin:0 auto; padding:20px 0; width:960px; }
    footer a { color:#a8a8a8; }
    footer ul { border-bottom:1px solid #636363; overflow:hidden; }
        footer li { float:left; margin:0 21px; }

        footer li a { color:#a8a8a8; }
            footer ul ul { border:none; }
                footer ul ul li { font-size:1.1em; height:20px; float:none; margin:0; }
                footer ul ul li:first-child { font-size:1.7em; font-weight:bold; margin:0 0 18px; }
                footer li.social { height:25px; margin:0 0 11px; padding:0; text-indent:-9999px; }
                footer .social a { background-repeat:no-repeat; display:block; height:25px; width:25px; }
                footer .twitter a { background:url("../img/twitter.png"); }
                footer .facebook a { background:url("../img/facebook.png"); }
                footer .third a { background:url("../img/social.png"); }
    footer p { font-size:1.1em; padding:17px 20px 0; }
        footer p strong { color:#0077C0; font-size:1.5em; font-weight:bold; }
            footer p strong a { color:#0077C0; }
            footer p .phone { margin:0 0 0 128px; }
            footer p .email { margin:0 0 0 40px; }
            footer p .copyright { margin:0 0 0 50px; }
            footer p .copyright a { font-size:0.68em; margin:0 0 0 15px; }




/* 3. PAGES
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 3.1 Home page
-----------------------------------------------------------------------------------------------*/
#main .box span { font-size:1.8em; line-height:2.3em; }
#main .small.box { background:url("../img/small_box.png"); height:57px; margin:15px 0 0; padding:10px 22px 0 26px; width:924px; }
    .small.box span, .small.box p { float:left; width:240px; }
    .small.box p { width:625px; }
    .small.box a { background:url("../img/play_icon.png") no-repeat; display:block; float:right; height:35px; margin:5px 0 0; width:35px; }
#main .big.box { background:url("../img/big_box.png"); height:308px; margin:8px 0 24px; padding:10px 0 0; width:973px; }
    .big.box article { float:left; height:285px; margin:0 21px; position:relative; width:200px; }
    .big.box article span { padding:0 0 10px; }
    .big.box article.has-line span { border-bottom:5px solid #0077C0; display:inline; margin:0 0 20px; }
    .big.box article.has-line p { margin:15px 0 0; }
    .big.box article p { margin:0; }
    .big.box article img { margin:0 0 10px; }
    .big.box article a { bottom:0; color:#0077C0; font-size:1.1em; font-weight:bold; position:absolute; }


/* 3.2 Content
-----------------------------------------------------------------------------------------------*/
#wrapper-top.content { background:url("../img/header_bg_content.png") repeat-x; height:234px; }
    #content-path { margin:0 auto; width:960px; }
        #content-path p:first-child { color:#000000; font:bold 5.2em Georgia, serif; padding:4px 0 7px; }
        #content-path span { font-size:1.2em; font-weight:bold; }
        #content-path span a { color:#1eb0f9; }
    
#main.content { position:relative; width:960px; }
#main.content article { padding:0 0 60px; width:460px; }
    #main.content article h1 { font-size:2.2em; line-height:1.5em; margin:30px 0 10px; }
    #main.content article p { color:#000000; font-size:1.3em; line-height:1.462em; margin:10px 0; }
        #main.content article p a { color:#1eb0f9; font-weight:bold; }

#main.content article.advantages_spremljanje { background:url("../img/advantages_bg_spremljanje.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:50%; width:446px; }
    #main.content article.advantages_spremljanje p { font-size:2.2em; margin:0; }
    #main.content article.advantages_spremljanje ul { padding:5px 0 0; }
        #main.content article.advantages_spremljanje li { line-height:1.7em; }
		
#main.content article.online_storitve { background:url("../img/advantages_bg.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:40%; width:446px; }
    #main.content article.online_storitve p { font-size:2.2em; margin:0; }
    #main.content article.online_storitve ul { padding:5px 0 0; }
        #main.content article.online_storitve li { line-height:1.7em; }

#main.content article.poskusni { background:url("../img/advantages_bg_mediji.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:77%; width:446px; }
    #main.content article.poskusni p { font-size:2.2em; margin:0; }
    #main.content article.poskusni ul { padding:5px 0 0; }
        #main.content article.poskusni li { line-height:1.7em; }
		
#main.content article.mediji { background:url("../img/advantages_bg_mediji.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:70%; width:446px; }
    #main.content article.mediji p { font-size:2.2em; margin:0; }
    #main.content article.mediji ul { padding:5px 0 0; }
        #main.content article.mediji li { line-height:1.7em; }
		
#main.content article.referenca_naslov { background:url("../img/advantages_bg_referenca_title.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:13%; width:446px; }
    #main.content article.referenca_naslov p { font-size:2.0em; margin:0; }
    #main.content article.referenca_naslov ul { padding:5px 0 0; }
        #main.content article.referenca_naslov li { line-height:1.7em; }
		
#main.content article.referenca1 { background:url("../img/advantages_bg_referenca1.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:22%; width:446px; }
    #main.content article.referenca1 p { font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:1.3em; line-height:1.462em; margin:10px 0; font-weight: normal; }
    #main.content article.referenca1 ul { padding:5px 0 0; }
        #main.content article.referenca1 li { line-height:1.7em; }
		
#main.content article.referenca2 { background:url("../img/advantages_bg_referenca2.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:44%; width:446px; }
    #main.content article.referenca2 p { font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:1.3em; line-height:1.462em; margin:10px 0; font-weight: normal; }
    #main.content article.referenca2 ul { padding:5px 0 0; }
        #main.content article.referenca2 li { line-height:1.7em; }
		
#main.content article.referenca3 { background:url("../img/advantages_bg_referenca1.png") no-repeat; height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:57%; width:446px; }
    #main.content article.referenca3 p { font-family: Arial, Helvetica, sans-serif; color:#000000; font-size:1.3em; line-height:1.462em; margin:10px 0; font-weight: normal; }
    #main.content article.referenca3 ul { padding:5px 0 0; }
        #main.content article.referenca3 li { line-height:1.7em; }

#main.content article.picture { height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:14%; width:446px; }
    #main.content article.picture p { font-size:2.2em; margin:0; }
    #main.content article.picture ul { padding:5px 0 0; }
        #main.content article.picture li { line-height:1.7em; }

#main.content article.picture_online { height:227px; margin:-118px 0 0; padding:20px 21px; position:absolute; right:0; top:10%; width:446px; }
    #main.content article.picture_online p { font-size:2.2em; margin:0; }
    #main.content article.picture_online ul { padding:5px 0 0; }
        #main.content article.picture_online li { line-height:1.7em; }

/* 3.3 Login
-----------------------------------------------------------------------------------------------*/
header li.active { position:relative; }
    header li.active span { background:url("../img/login_popup.png") no-repeat; height:10px; left:-20px; padding:17px 23px; position:absolute; text-indent:-9999px; top:23px; width:136px; }
        
#main.login { padding:25px 0 40px; width:960px; }
    #main.login article { float:left; padding:7px 0 0; width:450px; }
        #main.login p { font-size:3.2em; line-height:1em; }
        #main.login article ul { background:url("../img/login_line.png") no-repeat center bottom; }
        #main.login strong { color:#0077c0; font-size:1.5em; font-weight:bold; }
            #main.login span { display:block; font-size:1.667em; }
            
    #main.login section { background:url("../img/login_box.png") no-repeat; height:296px; float:right; padding:13px 0 0 18px; position:relative; width:471px; }
        #main.login section p:first-child { font:bold 2.3em Georgia, serif; }
        .login section form { float:left; width:300px; }
            .login section label { display:block; font:bold 1.7em Georgia, serif; margin:12px 0 5px; }
            .login section input { background:#FFFFFF; border:1px solid #bababa; height:18px; padding:5px 10px; width:278px; }
            .login section input[type="submit"] { background:url("../img/login_btn.png") no-repeat; border:none; height:45px; margin:14px 0 0; text-indent:-9999px; width:165px; }
            .login section a { bottom:32px; color:#0077c0; font-size:1.2em; font-weight:bold; }
            .login section strong { display:none; }
            .login section .forgot-pass { left:18px; position:absolute; }
            .login section .help { position:absolute; right:18px; }

            /* If form error | dodan je samo class "error" v html-ju */
            #main.login section input.error { border-color:#f71919; }
            #main.login section strong.error { color:#f71919; display:block; font:bold 1.7em/1.471em Arial, Helvetica, sans-serif; overflow:hidden; padding:36px 4px 0 14px; text-align:center; }


/* 3.4 Forgot Pass Lightbox
-----------------------------------------------------------------------------------------------*/
#main.login.popup { height:327px; width:490px; }
#main.login .colorbox { background:url("../img/lighbox_login.png") no-repeat; height:327px; float:none; margin:0 auto; padding:18px 0 0 18px; width:472px; }
    #main.login .colorbox p { color:#000000; font-size:1.7em; line-height:1.471em; }
    #main.login .colorbox p:first-child { background:none; font:bold 2.3em Georgia, serif !important; margin:0 0 12px; }
    #main.login .colorbox form { margin:12px 0 0; }
        #main.login .colorbox input[type="submit"] { margin:28px 0 0; }
    #main.login .colorbox span { font-size:1.2em; bottom:34px; position:absolute; right:20px; }


    




/* 4. BROWSER FIX
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 4.1 IE7 fix
-----------------------------------------------------------------------------------------------*/
.ie7 header input[type="submit"] { color:transparent; text-transform:capitalize; vertical-align:super; }
.ie7 header nav ul { width:728px; }
.ie7 header { height:127px; padding:14px 122px 0; }

.ie7 .login section input[type="submit"] { color:transparent; text-transform:capitalize; }
.ie7 #main.login .lighbox input[type="submit"] { color:transparent; text-transform:capitalize; }

.ie7 nav span { display:block; }
.ie7 nav .drop-menu { background:url("../img/dropmenu_bg.png") no-repeat center bottom; display:none; left:50%; margin:0 0 0 -487px; padding:0 0 25px; position:absolute; top:141px; width:973px; z-index:4; } 
    .ie7 .drop-menu ul ul li:first-child { margin:10px 0 0; }


/* 4.2 IE9 fix
-----------------------------------------------------------------------------------------------*/
.ie9 footer li { margin:0 19px; }
.ie9 footer ul ul li { margin:0; }
.ie9 footer ul ul li:first-child { margin: 0 0 18px; }
.ie9 footer li.social { height:35px; }
.ie9 footer p .phone { margin:0 0 0 116px; }


/* 4.3 Firefox 4+ fix
-----------------------------------------------------------------------------------------------*/
@media screen and (-moz-device-pixel-ratio:1) {
    footer li { margin:0 18px; }
    footer p .phone { margin:0 0 0 114px; }
}





/* 5. PLUGINS
-----------------------------------------------------------------------------------------------
===============================================================================================*/

/* 5.1 Plugins
-----------------------------------------------------------------------------------------------*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../img/colorbox/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../img/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../img/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../img/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../img/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../img/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../img/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}