﻿/**********************************************************************************************

    1. BASE
            1.1 Reset
            1.2 Default Styles
    
    2. COMMON
            2.1 Wrapper
            2.2 Header
            2.3 Main
            2.4 Footer
      
    3. IE FIXES
            3.1 IE7 Fix
            3.2 IE8 Fix
            3.3 IE9 fix

***********************************************************************************************/





/* 1. BASE
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* 1.1 Reset
-----------------------------------------------------------------------------------------------*/

html, body, div, span, img, p, a, h1, h2, h3, h4, h5, h6, dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,

blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strong, sub, sup, tt, var, object {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}


/* 1.2 Default Styles
-----------------------------------------------------------------------------------------------*/
body { background:url("../img/body_bg.jpg") center top no-repeat; font-size:62.5%; line-height:1; color:#444; }
a, a:hover, a:active, a:focus { border:none; outline:none; -moz-outline-style:none; }
a:focus { outline:none; -moz-outline-style: none !important; }
ul, ol { list-style:none; }
ol { list-style-type:decimal; }

input, select { vertical-align:middle; }
strong, th { font-weight:bold; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor:pointer; } /* Hand cursor on clickable input elements */
button, input, select, textarea { margin:0; } /* Webkit browsers add a 2px margin outside the chrome of form elements */


 @font-face {font-family: 'HouschkaAltPro-LightItalic';src: url('webfonts/eot/c85ddf9293c9e18a9857215e1bae0d84.eot');src: url('webfonts/eot/c85ddf9293c9e18a9857215e1bae0d84.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/c85ddf9293c9e18a9857215e1bae0d84.woff') format('woff'),url('webfonts/ttf/c85ddf9293c9e18a9857215e1bae0d84.ttf') format('truetype'),url('webfonts/svg/c85ddf9293c9e18a9857215e1bae0d84.svg#HouschkaAltPro-LightItalic') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-BoldItalic';src: url('webfonts/eot/c51a0beb01e29af41d3ed32c8bacc04a.eot');src: url('webfonts/eot/c51a0beb01e29af41d3ed32c8bacc04a.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/c51a0beb01e29af41d3ed32c8bacc04a.woff') format('woff'),url('webfonts/ttf/c51a0beb01e29af41d3ed32c8bacc04a.ttf') format('truetype'),url('webfonts/svg/c51a0beb01e29af41d3ed32c8bacc04a.svg#HouschkaAltPro-BoldItalic') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-MediumItalic';src: url('webfonts/eot/fdec6c7b381e45c6d79819c60d464c59.eot');src: url('webfonts/eot/fdec6c7b381e45c6d79819c60d464c59.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/fdec6c7b381e45c6d79819c60d464c59.woff') format('woff'),url('webfonts/ttf/fdec6c7b381e45c6d79819c60d464c59.ttf') format('truetype'),url('webfonts/svg/fdec6c7b381e45c6d79819c60d464c59.svg#HouschkaAltPro-MediumItalic') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-DemiBoldItalic';src: url('webfonts/eot/315f126644a53a26d4370f6e25408160.eot');src: url('webfonts/eot/315f126644a53a26d4370f6e25408160.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/315f126644a53a26d4370f6e25408160.woff') format('woff'),url('webfonts/ttf/315f126644a53a26d4370f6e25408160.ttf') format('truetype'),url('webfonts/svg/315f126644a53a26d4370f6e25408160.svg#HouschkaAltPro-DemiBoldItalic') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-ThinItalic';src: url('webfonts/eot/489fed5074acb813e8b25004833c9e38.eot');src: url('webfonts/eot/489fed5074acb813e8b25004833c9e38.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/489fed5074acb813e8b25004833c9e38.woff') format('woff'),url('webfonts/ttf/489fed5074acb813e8b25004833c9e38.ttf') format('truetype'),url('webfonts/svg/489fed5074acb813e8b25004833c9e38.svg#HouschkaAltPro-ThinItalic') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-ExtraBold';src: url('webfonts/eot/4cf11589d091bedf79c87de639f61641.eot');src: url('webfonts/eot/4cf11589d091bedf79c87de639f61641.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/4cf11589d091bedf79c87de639f61641.woff') format('woff'),url('webfonts/ttf/4cf11589d091bedf79c87de639f61641.ttf') format('truetype'),url('webfonts/svg/4cf11589d091bedf79c87de639f61641.svg#HouschkaAltPro-ExtraBold') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-DemiBold';src: url('webfonts/eot/00f49a3ccc05e2314926b550ec380250.eot');src: url('webfonts/eot/00f49a3ccc05e2314926b550ec380250.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/00f49a3ccc05e2314926b550ec380250.woff') format('woff'),url('webfonts/ttf/00f49a3ccc05e2314926b550ec380250.ttf') format('truetype'),url('webfonts/svg/00f49a3ccc05e2314926b550ec380250.svg#HouschkaAltPro-DemiBold') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-Bold';src: url('webfonts/eot/de7b4701b36a86d42ea3e929268ac723.eot');src: url('webfonts/eot/de7b4701b36a86d42ea3e929268ac723.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/de7b4701b36a86d42ea3e929268ac723.woff') format('woff'),url('webfonts/ttf/de7b4701b36a86d42ea3e929268ac723.ttf') format('truetype'),url('webfonts/svg/de7b4701b36a86d42ea3e929268ac723.svg#HouschkaAltPro-Bold') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-Medium';src: url('webfonts/eot/deb7e4e13d67f6c159d4c420fd4b3ae6.eot');src: url('webfonts/eot/deb7e4e13d67f6c159d4c420fd4b3ae6.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/deb7e4e13d67f6c159d4c420fd4b3ae6.woff') format('woff'),url('webfonts/ttf/deb7e4e13d67f6c159d4c420fd4b3ae6.ttf') format('truetype'),url('webfonts/svg/deb7e4e13d67f6c159d4c420fd4b3ae6.svg#HouschkaAltPro-Medium') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-Thin';src: url('webfonts/eot/5c8bac3943aa56d9247699bcd7eb3e8d.eot');src: url('webfonts/eot/5c8bac3943aa56d9247699bcd7eb3e8d.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/5c8bac3943aa56d9247699bcd7eb3e8d.woff') format('woff'),url('webfonts/ttf/5c8bac3943aa56d9247699bcd7eb3e8d.ttf') format('truetype'),url('webfonts/svg/5c8bac3943aa56d9247699bcd7eb3e8d.svg#HouschkaAltPro-Thin') format('svg');}
 @font-face {font-family: 'HouschkaAltPro-Light';src: url('webfonts/eot/d2b483945ec0cdd1dc6bf0b8d9b1ac7c.eot');src: url('webfonts/eot/d2b483945ec0cdd1dc6bf0b8d9b1ac7c.eot?#iefix') format('embedded-opentype'),url('webfonts/woff/d2b483945ec0cdd1dc6bf0b8d9b1ac7c.woff') format('woff'),url('webfonts/ttf/d2b483945ec0cdd1dc6bf0b8d9b1ac7c.ttf') format('truetype'),url('webfonts/svg/d2b483945ec0cdd1dc6bf0b8d9b1ac7c.svg#HouschkaAltPro-Light') format('svg');}






/* 2. COMMON
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* 2.1 Wrapper
-----------------------------------------------------------------------------------------------*/
#wrapper {
    background:url("../img/wrapper_bg.png") repeat-y;
    margin: 50px auto 0;
    width: 739px;
}
#wrapper .top-wrapper {
    background: url("../img/top_wrapper_bg.png") no-repeat;
    height: 12px;
    width: 739px;
}


/* 2.2 Header
-----------------------------------------------------------------------------------------------*/
#header {
    background:url("../img/header_bg.png");
    height: 91px;
    position: relative;
    width: 739px;
}
#header .logo {
    left: 40px;
    position: absolute;
    top: 15px;
}
#header strong {
    color: #FFF;
    display: block;
    font-family: 'HouschkaAltPro-Bold';
    font-size: 3.2em;
    margin-left: 250px;
    padding-top: 23px;
}


/* 2.3 Main
-----------------------------------------------------------------------------------------------*/
#main {
    margin-left: 12px;
    overflow:hidden;
    padding-bottom: 20px;
}
#main h1 {
    font: bold 2.2em 'HouschkaAltPro-Bold';
    margin: 6px 0 0 33px;

}
#main .mydata {
    background:#E2F5FE;
    margin: 13px 0 20px 25px;
    overflow:hidden;
    padding: 2px 0 10px 8px;
    width: 660px;
}
#main .mydata strong {
    display:block;
    float:left;
    font-family: 'HouschkaAltPro-Bold';
    font-size:1.4em;
    line-height:26px;
    width: 190px;
}
#main .mydata .languagestrong {
    width: 465px;
}
#main .mydata select {
    color:#969696;
    float:left;
    font-family: 'HouschkaAltPro-Light';
    height: 20px;
    margin-right: 22px;
    padding-left: 2px;
    outline: none;
    width: 160px;
}
/******* Firefox Fix *******/
@-moz-document url-prefix() 
    { #main .mydata select {
        height: 18px;
        padding-top: 2px; } 
} 
#main .mydata a {
    background:url("../img/continue_button.png");
    color: #fff;
    display:block;
    float:left;
    font-family: 'HouschkaAltPro-Bold';
    font-size:1.3em;
    height: 20px;
    line-height:20px;
    margin-right: 200px;
    text-align:center;
    text-decoration:none;
    width: 81px;
}
#main .mydata a:hover {
    background:url("../img/continue_button_hover.png") no-repeat;
}
#main .mydata label {
    color: #393D3F;
    display:block;
    font-family: 'HouschkaAltPro-Light';
    float:left;
    font-size:1.4em;
    margin: 10px 0 0 0;
}
#main .mydata input[type=checkbox] {
    margin-right: 5px;
}

/*****countries*****/
#main h2 {
    background:#BCE4A4;
    color: #307F00;
    font-family: 'HouschkaAltPro-Bold';
    font-size:1.4em;
    line-height:24px;
    padding-left: 13px;
    width: 198px;
}
#main ul {
    overflow:hidden;
    padding-left: 12px;
    width: 198px;
}
#main ul li {
    float:left;
    padding-left: 20px;
    width: 178px;
}
#main ul li a {
    color: #307F00;
    font-family: 'HouschkaAltPro-Light';
    font-size:1.4em;
    line-height:24px;
    text-decoration:none;
}
#main ul li a:hover {
    color: #F75E5E;
    text-decoration:underline;
}
#main .left {
    float:left;
    overflow:hidden;
    width: 230px;
}
#main .middle {
    float:left;
    overflow:hidden;
    width: 230px;
}
#main .right {
    float:right;
    overflow:hidden;
}
#main .left div {
    background:#E8F8FE;
    float:left;
    margin: 0 20px 20px 25px;
    padding-bottom: 7px;
    width: 210px;
}
#main .middle div {
    background:#E8F8FE;
    float:left;
    margin: 0 20px 0 22px;
    padding-bottom: 7px;
}
#main .right div {
    background:#E8F8FE;
    margin: 0 35px 20px 22px;
    width: 210px;
    padding-bottom: 7px;
}

#main .africa .southafrica {
    background:url("../img/za.png") no-repeat 0px 7px;
}
#main .asiapacific .australia {
    background:url("../img/au.png") no-repeat 0px 7px;
}
#main .asiapacific .china {
    background:url("../img/cn.png") no-repeat 0px 7px;
}
#main .asiapacific .japan {
    background:url("../img/jp.png") no-repeat 0px 7px;
}
#main .asiapacific .newzealand {
    background:url("../img/nz.png") no-repeat 0px 7px;
}
#main .asiapacific .russia {
    background:url("../img/ru.png") no-repeat 0px 7px;
}
#main .europe .austria {
    background:url("../img/at.png") no-repeat 0px 7px;
}
#main .europe .belgium {
    background:url("../img/be.png") no-repeat 0px 7px;
}
#main .europe .denmark {
    background:url("../img/dk.png") no-repeat 0px 7px;
}
#main .europe .finland {
    background:url("../img/fi.png") no-repeat 0px 7px;
}
#main .europe .france {
    background:url("../img/fr.png") no-repeat 0px 7px;
}
#main .europe .germany {
    background:url("../img/de.png") no-repeat 0px 7px;
}
#main .europe .ireland {
    background:url("../img/ie.png") no-repeat 0px 7px;
}
#main .europe .italy {
    background:url("../img/it.png") no-repeat 0px 7px;
}
#main .europe .netherlands {
    background:url("../img/nl.png") no-repeat 0px 7px;
}
#main .europe .norway {
    background:url("../img/no.png") no-repeat 0px 7px;
}
#main .europe .poland {
    background:url("../img/pl.png") no-repeat 0px 7px;
}
#main .europe .sweden {
    background:url("../img/se.png") no-repeat 0px 7px;
}
#main .europe .switzerland {
    background:url("../img/ch.png") no-repeat 0px 7px;
}
#main .europe .unitedkingdom {
    background:url("../img/gb.png") no-repeat 0px 7px;
}
#main .latinamerica .argentina {
    background:url("../img/ar.png") no-repeat 0px 7px;
}
#main .latinamerica .brazil {
    background:url("../img/br.png") no-repeat 0px 7px;
}
#main .northamerica .canada {
    background:url("../img/ca.png") no-repeat 0px 7px;
}
#main .northamerica .usa {
    background:url("../img/us.png") no-repeat 0px 7px;
}



/* 2.4 Footer
-----------------------------------------------------------------------------------------------*/
#footer {
    background:url("../img/footer_bg.png");
    height: 28px;
    margin-left: 12px;
    overflow:hidden;
    width: 716px;
}
#footer p {
    color: #FFF;
    display:block;
    float:left;
    font-family: 'HouschkaAltPro-Light';
    line-height: 30px;
    margin-left: 45px;
}
#footer ul {
    float:left;
    margin: 6px 0 0 235px;
    overflow:hidden;
}
#footer ul li {
    border-left: 1px #fff solid;
    float:left;
    padding: 0 7px;
}
#footer ul li:first-child {
    border: none;
}
#footer ul li a {
    color: #fff;
    font-family: 'HouschkaAltPro-Light';
    font-size:1.4em;
    line-height:16px;
    text-decoration:none;
}
#footer ul li a:hover {
    text-decoration:underline;
}





/* 3. IE FIX
-----------------------------------------------------------------------------------------------
===============================================================================================*/
/* 3.1 IE7 fix
-----------------------------------------------------------------------------------------------*/
.ie7 .shadow-bottom {
    background:url("../img/shadow_bottom.png") repeat-x;
    height: 70px;
}


/* 3.2 IE8 fix
-----------------------------------------------------------------------------------------------*/
.ie8 .shadow-bottom {
    margin: 0 auto 80px;
}


/* 3.3 IE9 fix
-----------------------------------------------------------------------------------------------*/
.ie9 .shadow-bottom {
    margin: 0 auto 80px;
}


/*--- IE7 fix ---*/
/* Make buttons play nice in IE: */
button { width: auto; overflow: visible; }
 
/* Bicubic resizing for non-native sized IMG: */
.ie7 img { -ms-interpolation-mode: bicubic; }

.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie7 legend { margin-left: -7px; }